/* Scroll bar css */
.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  /* Decorations */
  .col-3 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
    width: 30.33%; /* Each column takes up 1/3 of the container's width */
  }
  
  .col-3:nth-child(odd) {
    background: white;
  }
  
  .col-3:nth-child(even) {
    background: white;
  }
  
  @media (max-width: 768px) {
    .col-4 {
      width: 50%; /* Each column takes up 1/2 of the container's width on smaller screens */
    }
  }
  